#root {
  --navbarColor: #E95B45;
  --mainColor:#EFAD70;
  --lightMain:#F9F2BB; 
  --paletteBlue: #439BAF;
  --paletteRed:#AD302C;

    --grass: #7FAD71;
  --earth: #8C573B;
  --somePink: #F87C88;
  --lightGray: #F8F9FA;
  --pinkyRed: #F14B3D;
  --Orange: #FF844F;
  --brightYellow: #FDD85D;
  --Green: #60D394;
  --reallyGray: #595F65;
  --black: #000000;
  --white: #ffffff;


}
.App {
  box-sizing: border-box;
  text-align: center; 
  
  
}

.mainLayout {
  display: flex;
  height: 100dvh;
  align-items: stretch;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center; 
 }

