#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  overflow-y: hidden;
  overflow-x: hidden;
}
.App {
  box-sizing: border-box;
  text-align: center;
 }

 .mainLayout {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
 }