#root {
  --navbarColor: #e95b45;
  --mainColor: #efad70;
  --lightMain: #f9f2bb;
  --paletteBlue: #439baf;
  --paletteRed: #ad302c;

  --grass: #7fad71;
  --earth: #8c573b;
  --somePink: #f87c88;
  --lightGray: #f8f9fa;
  --pinkyRed: #f14b3d;
  --Orange: #ff844f;
  --brightYellow: #fdd85d;
  --Green: #60d394;
  --reallyGray: #595f65;
  --black: #000000;
  --white: #ffffff;
}
.App {
  box-sizing: border-box;
  text-align: center;
}

.mainLayout {
  
  /* overflow-x: hidden; */
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  /* height: 120dvh; */
}
