@font-face {
  font-family: "PokemonSolidFn";
  src: url("./assets//fonts/pokemon-solid-font/PokemonSolidNormal-xyWR.ttf");
}

html,body {
  margin: 0;
  padding: 0;
}


:root {
  font-family: Neucha, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8f9fa;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

