.caption {
  color: var(--brightYellow);
  padding: 2rem;
  font-family: "PokemonSolidFn";
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 60px;
  text-shadow: 1px 1px 4px #000000;
}

.filterContainer {
  transition: 0.2s ease-in;
  padding: 10px;
  border-radius: 20px;
  background-color: #ffffffb2;
  display: flex;
  flex-wrap: wrap;
  gap: .4rem;
  color: var(--Orange);
  box-shadow: 10px 10px 5px #ffffff73;
}
.filterContainer label {
  display: flex;
  width: 80%;
  text-transform: uppercase;
  width: min(15rem, 90vw);
  border-radius: 0.25rem;
  text-shadow: 2px 2px 4px #000000;
  font-size: 16px;
}
.filterContainer select {
  border: 0;
  font-size: 12px;
  font-weight: 600;
  outline: 0;
  background: none;
  color: var(--black);
  flex: 1;
 text-align: right;
  padding: 1em;
  cursor: pointer;
}

@media screen and (min-width: 541px) {
    .filterContainer{

    }
    .filterContainer label {
font-size: 18px;
    }
    .filterContainer select {
      border: 0;
      font-size: 14px;
      font-weight: 600;

 
      flex: 1;
   
    
    }
}