.caption {
  color: black;
  padding: 2rem;
  font-family: "PokemonSolidFn";
  font-size: 24px;
  letter-spacing: 3px;
}


.filterContainer {

  transition: 0.2s ease-in;
  width: 300px;
  border: 5px solid;
	margin : 20px auto;
	padding: 20px;
	text-align: center;
	border-radius: 20px;
	background-color: #fff;

	box-shadow: 10px 10px 5px #ffffff73;
  
}
.filterContainer label {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* gap: 12px; */
  border: 1px solid white;
  line-height: 26px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  text-align: center;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  border: 0.1px solid #f4faf3;
  font-size: 12px;
  /* border: .1px solid #000000; */
  background-color: black;
  color: #ffffff;
}
.filterContainer select {
  height: 40px;
  min-width: 270px;

}
.cusSelBlock {
}
#cusSelectbox {
  height: 100%;
  width: 100%;
}
.s-hidden {
  visibility: hidden;
}
.cusSelBlock {
  display: inline-block;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
}
