
.caption{
    color: black;
    padding: 2rem;
    font-family: "PokemonSolidFn";
font-size: 24px;
letter-spacing: 3px
}

.filterContainer{
    margin-top: 1rem;
    transition: 0.2s ease-in;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;

}
.filterContainer label{
    display: flex;
    width: 100%;
    flex-direction: column;
    /* gap: 12px; */
    border:  1px solid white;
    line-height: 26px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   
    text-align: center;
    background: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    border: .1px solid #f4faf3;
    font-size: 12px;
    /* border: .1px solid #000000; */
    background-color: black;
    color: #ffffff;
}
.filterContainer select{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    color: black;
    height: 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    
 
}
