.detailCardCont {
  position: relative;
  height: 70svh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.detailCard {
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
  min-height: 60%;
  align-items: center;
  padding-inline: 1rem;
}

.col1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col1 div {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
}

.col2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-top: -4rem;
}
.col2 h2 {
  font-size: 3rem;
  font-family: "PokemonSolidFn";
  color: var(--paletteRed);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 8px;
}
.col2 img {
  max-width: 280px;
}
.col3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 34rem;
}

.col3 div {
  display: flex;
  flex-direction: column;
}

.types,
.abilities {
  background-color: #ffffffe8;
  display: flex;
  gap: 1rem;
  box-sizing: border-box;
  color: #41403e;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.types {
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  padding-inline: 0.3rem;
}
.types {
  flex-direction: column;
}
.abilities {
  background-color: var(--reallyGray);
  text-transform: uppercase;
  color: var(--white);
  font-weight: 600;
  padding-inline: 0.3rem;
}
.fadeOut {
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.fadeIn {
  opacity: 1;
  transition: opacity 0.1s ease-in;
}

@media (max-width: 768px) {
  .detailCard {
    padding: 1rem;
  }
  .col3 {
    min-height: fit-content !important;
  }
  .col2 img {
    max-width: 180px;
  }
  .col2 {
    margin-top: 0rem;
    gap: 0rem;
  }
}
