.pokemonCard {
  border-radius: 18px;
  height: 7.2rem;
  width: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0.7rem 1rem;
  border: 2px solid #000;
  box-shadow: 0.45rem 0.5rem 8px 0 rgba(0, 0, 0, 1);
  transition: all 0.3s ease-in-out;
  filter: saturate(90%);
  position: relative;
}
.typeebg {
  position: absolute !important;
  right: 85px;
  top: 75px;
  filter: opacity(0.2);
  transform: rotate(32%);
  transform: scale(8);
  z-index: -1;
}
.deleteBtn {
  position: absolute;
  color: #000;
  right: 10px;
  bottom: 5px;
  transform: scale(2);
  z-index: 4;
}
.pokemonCard:hover {
  transform: scale(1.1);
  filter: saturate(100%);
  transform: translateX(5px);
  transform: translatey(5px);
  box-shadow: 0.2rem 0.1rem 8px 0 rgba(255, 255, 255, 0.267);
}
.pokemonCard:hover div p.id {
  color: var(--white) !important;
}
.pokemonCard div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 93%;
  height: 32px;
}
.pokemonCard div:first-child h3 {
  color: var(--lightMain);
  font-size: 16px;
}

.pokemonCard div:last-child {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.pokemonCard div img {
  position: relative;
  right: -10px;
  transform: scale(1.1);
}
.pokemonCard div .id {
  font-weight: 800;
  font-size: 22px;
}

.pokemonType p {
  padding-inline: 10px;
  border-radius: 18px;
  box-shadow: var(--lightMain) inset 0 0 100px;
}
