.mainCont{
  padding-inline: 1rem;
  padding-bottom: 6rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  color: #41403e;
  align-items: center;
  font-weight: 800;
  min-height:70dvh;
  width: 100%;
}

.form input {
  box-shadow: 0.45rem 0.3rem 0 0 rgba(0, 0, 0, 1);
  width: 100%;
  height: 28px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  box-sizing: border-box;
  color: #41403e;
  background-color: #ffffffee;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  outline: none !important;
  margin: 0.1rem;
  margin-bottom: 0;
  margin-top: 0;
}
.statForm h4 {
  margin: 0;
}
.col1 {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
}
.abilitieForm,
.statForm {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 200px;
}
.statForm div {
  display: flex;
  justify-content: space-evenly;
  text-align: start;
  flex-wrap: wrap;
}

.statBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statBox div {
  min-width: 240px;
  max-width: 260px;
}

.abilitieBox {
  display: flex;
  justify-content: center;
}
.maincontent {
  display: flex;
  justify-content: center;
}
.abilitieForm label {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  
}
.abilitieForm div {
  text-align: center;
 padding-block: .5rem;
 align-self: center;
}
.abilitieBox input {
  margin-top: 0.7rem;
  width: 20%;
  margin: 1rem;
}

.col2 {
  flex: 1;
  margin: 5px;

}
.typeBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typeChart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  justify-content: center;
  margin-block: 2.8rem;
  padding-inline: .7rem;
  text-align: center;
  width: 90%; 
  margin-left: 20px;
}
.typeIcon  {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.typeIcon input {
  display: none;
}
.typeIcon div {
  width: 40px;
  height: 40px;
  filter: grayscale(100%);
}

.typeIcon input:checked + div {
  filter: grayscale(0%);
}
.submitBtn{
  position: relative;

}
@media (max-width: 557px) {
  .typeChart {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-block: 4rem;
    margin-inline: auto;
  }
  .typeIcon div {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
  }
}
@media (max-width: 397px) {
  .typeChart {
    grid-template-columns: repeat(2, 1fr);
  }
}
