.formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.formulario h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--black);
}

.formulario p {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.formulario label {
  color: var(--white);
  transition: 0.5s ease-in-out all;
  -moz-transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.formulario p input:focus ~ label,
.formulario p input:valid ~ label {
  top: -1.8125rem;
  font-size: 0.75rem;
}

.formulario input[type="submit"] {
  margin-top: 8%;
  background: var(--black);
  color: white;
  cursor: initial;
}

.form p input
 {
  width: 100%;
  font-size: 0.875rem;
  border: none;
  border-bottom: 1px solid white;
  resize: none;
  outline: none;
  box-shadow:0px 0px 3px 1px #ffffff ;
  border: 0;
  padding: 0 10px 0 10px;
  color: black;
  height: 30px;
  font-size: 15px;
  font-weight: 1000;
}



.formulario p input:focus {
  outline: none;
}
.statBox {
 
}
.typeBox {
  width: 100%;
}

.abilitieBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.abilitieBox p {
  font-size: 18px;
  text-align: left;
  width: 100%;
}
.abilitieBox input {
  width: 100%;
}

.typeChart {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 1.7rem;
  justify-content: center;
  margin-block: 3rem;
}
.typeIcon input {
  display: none;
}
.typeIcon div {
  width: 100px; 
  height: 100px; 
  filter: grayscale(100%); 
}

.typeIcon input:checked + div {
  filter: grayscale(
    0%
  ); 
}
