.homeContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height:70svh;
  width: 100%;
  padding-bottom: 140px;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 557px) {
  .homeContainer {
    background-attachment: fixed;
  }
}
