.homeContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-image: url("../../assets/pokeback-assets/homeBackground.png");
  background-size: 1024px 1021px; 
  background-repeat: repeat x;
  background-attachment: fixed;
  animation: animatedBackground 40s linear infinite;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 557px) {
  .homeContainer {
    background-attachment: fixed;
  }
}

@keyframes animatedBackground {
	from { background-position: 100% 0; }
	to { background-position: 0 0; }
}