.label{
  color: var(--brightYellow);
  margin: 0;
  font-family: "PokemonSolidFn";
  font-size: 21px;
  letter-spacing: 3px;
 
  text-shadow: 1px 1px 4px #000000;
}

.pageSelectorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-gap: 12px;
  max-width: 120px;
  margin-inline: auto;
}

.pageSelectorContainer button {
  position: relative;
  width: 50px;
  height: 70px;
  text-decoration: none;
  transition: 0.2s ease-in;
  font-size: 30px;
  font-weight: 600;
}

.pagination {
  transform: scale(0.9);
  padding: 0 30px;
  display: flex;
  min-width:220px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.144);
}

.pagination li {
  display: inline;
  margin: 5px;
  color: #fff;
}

.pagination li p {
  padding: 10px;
  background: var(--paletteRed);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  min-width: 7px;
  box-sizing: border-box;

  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;

  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.pagination p.currentPage {
  box-shadow: 10px 0 8px rgba(0, 0, 0, 0.3);
  color: var(--lightMain);
}
.pageSelectorContainer button svg {
  fill: var(--paletteRed);
}
